<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/login_registerCSS.css">
</head>
<body>
<div>
    {% extends ./base/menu.html %}
</div>
<div>
    <form action="">
        <div class="container">
            <h1>Login</h1>
            <p>Please fill in this form to login.</p>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

            <hr>

            <button type="submit" class="registerbtn">Login</button>
        </div>
    </form>

</div>


</body>
</html>
